{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django 3 - Avançado</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/examples/sign-in/signin.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="text-center">
    {% block content %} {% endblock%}

    {% bootstrap_javascript jquery='ful' %}
</body>
</html>